.element-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body-custom .card-body-custom h6{
    padding: 0 !important;
}

.cart-summary-price span{
    color: red;
}

.ul-custom{
   list-style-type: none;
}