.delivery-available{
    color: green;
}

.delivery-unavailable{
    color: red;
}

.category{
    background-color: blue;
    color: white;
    padding: 2px 10px;
    border-radius: 20px;
}

.product-price{
    font-size: 30px;
    font-weight: bold;
}

.product-quantity{
    font-size: 20px;
    color: thistle
}

.adjust-quantity{
    margin-top: 100px;
    margin-left: 10px;
}
.shipping-available{
    color: green;
}

.shipping-unavailable{
    color: red;
}